<!-- Mark up for Site Navigation Section-->
<nav class="main-nav navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- <a href="{{.Site.BaseURL}}" class="navbar-brand">
      <img src="{{ .Site.Params.logo | absURL}}" alt="site-logo" />
    </a> -->
    <button class="navbar-toggler collapsed ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
      aria-expanded="false">
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse nav-list justify-content-center" id="mainNav">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#menu">Menu</a></li>
        <li class="nav-item logo-center d-xl-block d-lg-block d-md-none d-sm-none d-none">
          <a class="nav-link text-uppercase pb_letter-spacing-2" href="#">
            <img src="{{.Site.Data.settings.logo}}" alt="La Maison Verte Logo" class="main__logo">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase pb_letter-spacing-2" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase pb_letter-spacing-2" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
