.btn {
  display: inline-block;
  padding: 12px 16px 10px;
  font-size: var(--spacing-medium);
  line-height: 1.25;
  background-color: var(--white);
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: var(--bold-font-weight);
  color: var(--primary);
  text-align: center;
  transition: var(--hover-transition);
}

.pb_outline-dark {
  border: 1px solid #000 !important;
  text-transform: uppercase;
  color: black;
  background: none;
  transition: background-color 0.4s ease-out 100ms !important;
  span {
    color: black;
    transition: color 0.4s ease-out 100ms !important;
  }
  &:hover {
    background-color: #000 !important;
    span {
      color: #fff;
    }
  }
}