.food-menu {
    color: #868E96;
    strong {
        color: #212529;
        display: block;
        font-size: 1.125rem;
        font-weight: 300;
        margin-bottom: 8px;
    }
    .flex {
        p {
            @media(min-width: 575px) {
                flex-basis: 50%;
            }
        }
    }
}

.intro-text {
    p {
        max-width: 100%;
    }
    strong {
        display: block;
    }
}

.nav-item--menu {
    margin: 0 5px;
    @media(max-width: 575px) {
        margin: 5px 0;
        width: 100%;
    }
}

.nav-link--custom {
    border: 1px solid#e9ecef !important;
    color: var(--primary) !important;
    background: none !important;
    border-radius: 0 !important;
    font-size: 13px !important;
    padding: 16px !important;
    letter-spacing: .2em;
    width: 100%;
    &.active {
        color: black !important;
        border: 1px solid black !important;
    }
}