.food-menu {
    strong {
        display: block;
    }
    .flex {
        p {
            flex-basis: 50%;
        }
    }
}

.intro-text {
    p {
        max-width: 100%;
    }
    strong {
        display: block;
    }
}